.inicio-contato {
    background-color: var(--cor-11);
}
.inicio-contato-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.inicio-contato-container p {
    color: var(--cor-6);
}
.inicio-contato-container h1 {
    color: var(--cor-0);
}
.contato-da-loja {
    background-color: var(--cor-11);
    box-shadow: inset 0px -200px 0px white;
}
.contato-da-loja-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    padding: 40px 20px;
}
.secao-de-contato {
    background-color: var(--cor-12);
    padding: 50px;
    box-shadow: 0px 2px 10px black;
}
.secao-de-contato h3 {
    color: var(--cor-0);
    padding-bottom: 40px;
}
.secao-de-contato p,  .secao-de-contato a {
    color: var(--cor-6);
}
.contato-endereco p {
    padding: 0 0 10px 20px;
}
.contato-endereco {
    padding-bottom: 20px;
}
.contato-endereco::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    background: url("./ ");
}
.contato-meios a {
    display: block;
    padding: 0 0 10px 20px;
}
.contato-telefone {
    margin-top: 20px;
}
.contato-redes {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
}
.contato-meios a:hover {
    color: var(--cor-0);
}
.secao-de-form {
    padding: 50px;
    background-color: var(--cor-0);
    box-shadow: 0px 2px 10px black;
}
.form-esquerda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 10px;
}
.form-esquerda-email {
    grid-column: 1 / 3;
    width: 100%;
}
.form-esquerda-email input {
    width: 100%;
    box-sizing: border-box;
}
.form-esquerda-mensagem {
    grid-column: 1 / 3;
    width: 100%;
}
.form-esquerda-mensagem textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.form-esquerda label {
    display: block;
    margin-bottom: 5px;
}
.form-esquerda input,
.form-esquerda textarea {
    padding: 15px;
    background-color: var(--cor-1);
    border-color: var(--cor-2);
    border-style: solid;
    border-radius: 5px;
}
.botao-formulario-esquerda {
    margin-top: 30px;
    border: none;
}
.lojas-locais-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 100px 20px;
}
.lojas-locais-container h2 {
    margin: 100px 0 50px 0;
}
.mapas-container {
    display: flex;
    gap: 50px;
}
.informacao-local {
    padding: 30px;
    border: solid 2px var(--cor-2);
}
.horario {
    display: flex;
    gap: 10px;
}
.informacoes-local {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
    color: var(--cor-9);
}
.svg-contato {
    width: 20px;
    height: 20px;
    align-self: center;
}

@media (max-width: 1100px){
    .contato-da-loja-container {
        grid-template-columns: 1fr;
    }
    .contato-redes {
        justify-content: left;
    }
}
@media (max-width: 800px){
    .informacoes-local {
        grid-template-columns: 1fr;
    }
}